<!doctype html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Hashicorp Waypoint</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>

<body>
    <header>
        <h1>Hashicorp Waypoint deployed application to Civo managed k3s cluster</h1>
        <p>
            This service says hello to you !!
        </p>
    </header>
    <main>
        <form action="/howdy" method="post">
                Enter Name: <input type="text" name="name">  <br />
                
                <input type="submit" name= "form" value="Submit" />
            </form>
        
        <br>
        <p><center>Powered by <b>Hashicorp Waypoint</b> </center></p>
    </main>

</body>
